[submodule "symfony1/lib/vendor/symfony"]
	path = symfony1/lib/vendor/symfony
	url = https://github.com/annismckenzie/symfony-1.4.git
[submodule "Symfony2/src/vendor/symfony"]
	path = Symfony2/src/vendor/symfony
	url = https://github.com/symfony/symfony.git
[submodule "Symfony2/src/vendor/doctrine-extensions"]
	path = Symfony2/src/vendor/doctrine-extensions
	url = git://github.com/l3pp4rd/DoctrineExtensions.git
[submodule "Symfony2/src/Stof/DoctrineExtensionsBundle"]
	path = Symfony2/src/Stof/DoctrineExtensionsBundle
	url = git://github.com/stof/DoctrineExtensionsBundle.git

[submodule "Symfony2/src/Sensio/Bundle/FrameworkExtraBundle"]
	path = Symfony2/src/Sensio/Bundle/FrameworkExtraBundle
	url = git://github.com/sensio/FrameworkExtraBundle.git
