[submodule "symfony1/lib/vendor/symfony"]
	path = symfony1/lib/vendor/symfony
	url = https://github.com/annismckenzie/symfony-1.4.git
[submodule "Symfony2/src/vendor/symfony"]
	path = Symfony2/src/vendor/symfony
	url = https://github.com/fabpot/symfony.git
